body{
    background-color: #7fd1bb;
font-family: sans-serif;
font-size: 16px
}

.myinfo{
    background-color: rgb(189, 222, 241);
    margin-left: 15px; margin-right: 15px;
    padding: 10;
}


#education{
    color: rgb(3, 3, 85);
    width: 60%;
}

#experience{
    color: rgb(3, 3, 85);
    width: 40%;
}


#skills{
    color: rgb(3, 3, 85);
}

.heading{
    background-color: rgb(60, 133, 106);
color: rgb(3, 3, 85);
}

header{
    text-align: center;
    background-color: rgb(189, 222, 241);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;

}

footer{
    text-align: center;
}

.contactdetails{
    background-color: rgb(60, 133, 106);
    align-items: center;
}

h1, h2, h3, h4, h5{
    color: rgb(12, 87, 18);
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

.heading{
    font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{border-style: ridge;
    border-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: rgb(168, 51, 51);
    border-radius: 5px;
}
.contactdetails{
    color: rgb(12, 18, 87);
}

#head{
    border: 10px rgb(151, 20, 20) solid;
    border-radius: 50px;
}

#headshot{
    border: 8px rgb(26, 14, 14) solid;
    border-radius: 45px;
    margin-bottom: 20px;
}

#menu{
    position: fixed;
    background-color: rgb(41, 56, 5);
    border-right-width: 100px;
    flex: 3;
}

section{display: flex;
}
